@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: white;
  font-family: "Rubik", serif;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 110px;
  margin-top: 50px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: 15px 35px;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  border: 2px solid white;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyHHG {
  color: #555252;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 449px) {
  .downloadDesc button {
    margin: 10px 0;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../../images/RockStar/gtaVIBg.jpg);
}
.container00.container02 {
  background-image: url(../../images/RockStar/redDead1Bg.jpg);
}
.container00.container03 {
  background-image: url(../../images/RockStar/gtaVBg.jpg);
}
.container00.container04 {
  background-image: url(../../images/RockStar/gtaSABg.jpg);
}
.container00.container05 {
  background-image: url(../../images/RockStar/RedDead2Bg.jpg);
}

.titlePadding {
  padding-top: 250px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.shortTitle {
  width: 550px;
  margin-bottom: -25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
.container00.container06 {
  background-image: url(../../images/RockStar/redDead1Bg.jpg);
  background-size: cover;
  background-position: top;
}
.container00.container07 {
  background-image: url(../../images/RedDeadRedemption/bg2.jpg);
  background-size: cover;
  background-position: top;
}
.container00.carrosel01 {
  background-image: url(../../images/RedDeadRedemption/bg3.jpg);
  background-size: cover;
  background-position: top;
}
.container00.carrosel02 {
  background-image: url(../../images/RedDeadRedemption/bg4.jpg);
  background-size: cover;
  background-position: top;
}
.container00.carrosel03 {
  background-image: url(../../images/RedDeadRedemption/bg5.jpg);
  background-size: cover;
  background-position: top;
}

.titleRedDead {
  font-family: "Rubik", sans-serif;
  font-size: 90px;
  font-weight: 514;
}

.titleContent {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subTitleNumb {
  font-size: 20px;
}

.redDeadDesc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerRedDeadDesc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}

button {
  border: 2px solid white;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 80px;
  }
  .numbers .subTitleNumb {
    font-size: 18px;
  }
  .containerRedDeadDesc {
    width: auto;
  }
  #overViewPosition {
    padding-top: 35%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-with: 375px) {
  .titleRedDead {
    font-size: 50px;
  }
  .redDeadDesc {
    font-size: 18px;
    line-height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
